.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.DS_Store
inst/rmarkdown/templates/thesis/skeleton/_book/*
inst/rmarkdown/templates/thesis/skeleton/_bookdown_files/*
*.Rproj
*.pdf
_book/
_bookdown_files/
